<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title></title>
   </head>
   <body>
      <div class="">
         <h1><%=`${cars.year} ${cars.make} ${cars.model}`%></h1>
         <img src="<%=cars.img%>" alt="">
         <p><%=cars.description%></p>
         <a href="/<%=cars.id%>/edit"><button type="button" name="button">Edit Car Details</button></a>
         <form class="" action="/<%=cars.id%>?_method=DELETE" method="POST">
            <input type="submit" value="Delete Car">
         </form>
      </div>
      <a href="/"><button type="button" name="button">Return to Car Index</button></a>

   </body>
</html>
