<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title></title>
      <link rel="stylesheet" href="/css/show.css">
      <link href="https://fonts.googleapis.com/css?family=Racing+Sans+One&display=swap" rel="stylesheet">
   </head>
   <body>
      <div class="container">
         <h1><%=`${cars.year} ${cars.make} ${cars.model}`%></h1>
         <img class="image" src="<%=cars.img%>" alt="">
         <p><%=cars.description%></p>
         <div class="buttons-container">
            <a href="/<%=cars.id%>/edit"><button class="btn" type="button" name="button">Edit</button></a>
            <form  action="/<%=cars.id%>?_method=DELETE" method="POST">
               <input class="btn" type="submit" value="Delete Car">
            </form>
         </div>
      </div>
      <a href="/"><button class="return" type="button" name="button">Return to Car Index</button></a>

   </body>
</html>
